#login, #out, #home {
 font-size: 35px; 
 color: black;   
}

#special {
  background: none;
  padding: 0px;
  border: none;  
}

#specialform div { 
  display: inline-block; 
}

#login:hover, #home:hover, #out:hover{
    color:white;
}

ul {
    list-style: none;
}

li::before {
    content: "•"; color: white;
    display: inline-block; width: 1em;
    margin-left: -1em;
}



