#login, #out, #home {
 font-size: 35px; 
 color: black;   
}

#special {
  background: none;
  padding: 0px;
  border: none;  
}

#specialform div { 
  display: inline-block; 
}

#login:hover, #home:hover, #out:hover{
    color:white;
}

i:hover {
    color: #6c757d;
}


