/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

@font-face {
    font-family: 'rustico';
    src: url('../fonts/rustico-regular-webfont.ttf') format('truetype'),
         url('../fonts/rustico-regular-webfont.woff') format('woff'),
         url('../fonts/rustico-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}

body.retro{
  padding: 4em;
  font-family: 'Press Start 2P', cursive;
  background-color: #191919;  
}
h1.type{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; 
    letter-spacing: 5px;
    color: #33ff33;
}

/* Animation */
.type{
  animation: typewriter 4s steps(25) 1s 1 normal both,
             blinkTextCursor 700ms steps(25) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 20em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #33ff33;}
  to{border-right-color: transparent;}
}


#one {
    font-size: 30px;
    background-color: red;
}

#two {
    font-size: 20px;
    background-color: yellow;
}

#three {
    font-size: 10px;
    background-color: greenyellow;
}

#one:hover, #two:hover, #three:hover {
    font-weight: bold;
}

#color, #color2 {
    width: 100px;
    display: inline-block;
}

#button1, #button2, #fade {
    margin: auto;
}

main > .container {
  padding: 60px 15px 0;
}

nav {
    text-align: center;
}

i {
    font-size: 30px;
    color: #f8f9fa;
}

i:hover {
    color: #dc3545;
}

footer {
    color: #f8f9fa;
}

.social {
    margin-right: 25px;
}

blockquote {
    font-family: 'Bubblegum Sans';
    margin-top: 20px;
    font-size: 25px;
    line-height: .75cm;
}

ul.navbar-nav a:hover { 
    color: #f8f9fa !important; 
}

body {
  padding-top: 100px;
}

@media (min-width: 768px) {
  body {
    padding-top: 0px;
  }
}



